<ion-progress-bar [style.visibility]="loading ? 'visible' : 'hidden'" type="indeterminate" color="secondary"></ion-progress-bar>

<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [disabled]="loading" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="!displaySavedFeed" color="primary" [disabled]="loading" (click)="vueInteraction(false, true)">
        <ion-icon slot="icon-only" [color]="vue.user_saved ? 'tertiary' : null" 
        [name]="vue.user_saved ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="displaySavedFeed" color="primary" [disabled]="loading" (click)="removeAlert()">
        <ion-icon slot="icon-only" color="danger" name="remove-circle-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="vue.url !== null" color="primary" [disabled]="loading" (click)="openUrl()">
        <ion-icon slot="icon-only" name="open-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="info-container ion-margin-bottom">
      <div class="info-content-group">
        <div *ngIf="vue.special" class="info-content-container ion-margin-end">
          <ion-icon color="warning" name="star"></ion-icon>
        </div>
        <div class="info-content-container ion-margin-end">
          <ion-icon color="medium" name="location-sharp"></ion-icon>
          <span class="mat-caption no-bottom-margin" style="margin-left: 4px;">{{vue.location}}</span>
        </div>
        <div class="info-content-container">
          <mat-icon class="mat-icon-style">cake</mat-icon>
          <span class="mat-caption no-bottom-margin" style="margin-left: 4px;">{{vue.age}}</span>
        </div>
      </div>

      <ion-chip class="no-ripple ion-chip-small" color="danger" mode="ios" (click)="reportModel()">REPORT</ion-chip>
    </div>

    <div class="overflow-wrapper">
      <div class="info-content-group">
        <ng-container *ngIf="vue.url !== null">
          <ion-chip class="link-chip ion-chip-small" mode="ios">
            <ion-icon class="link-icon" name="link-outline"></ion-icon>
            <ion-label>{{vue.site_name ? vue.site_name : vue.domain_name}}</ion-label>
          </ion-chip>
          <span class="mat-caption vertical-divider">|</span>
        </ng-container>

        <ion-chip color="medium" class="ion-chip-small" mode="ios" *ngFor="let interest of vue.interest_keyword">
          {{interest.name}}
        </ion-chip>
      </div>
    </div>
  </div>

  <div *ngIf="vue.image !== null" class="img-container">
    <img
    ImgErrhandler
    [thumnailUrl]="vue.image.thumnail"
    [imgUrl]="vue.image.image"
    [imgWidth]="vue.image.width"
    [imgHeight]="vue.image.height"
    (imgError)="onImgErr($event)"
    >
    <div class="img-retry-container" *ngIf="imgError">
      <ion-button expand="block" size="large" color="light" shape="round" mode="ios" (click)="imgRetry()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div [ngClass]="vue.image !== null ? 'ion-padding' : 'ion-padding-horizontal ion-padding-bottom'" [style.margin-bottom]="'69px'">
    <p class="mat-body-2"><strong>{{vue.title}}</strong></p>
    <p class="mat-body-2 no-bottom-margin" style="white-space: pre-line;">{{vue.description}}</p>
  </div>

  <div #converse class="action-button-container ion-padding-horizontal ion-padding-bottom">
    <ion-button color="primary" expand="block" fill="solid" mode="ios" shape="round" (click)="converseButton(converse)">
      <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
      START CONVERSATION
    </ion-button>
  </div>

  <ion-header style="visibility: hidden;">
    <ion-toolbar></ion-toolbar>
  </ion-header>
</ion-content>