<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="vue-feed">
      <mat-icon>dashboard</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="vue-history">
      <mat-icon>history</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="vue-save">
      <mat-icon>favorite</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="your-vue">
      <mat-icon>present_to_all</mat-icon>
    </ion-tab-button>

    <ion-tab-button tab="your-space">
      <mat-icon>person</mat-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>